<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decrypted Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="header">Decryption Successful</h1>
        <p class="message">Decrypted Password: {{ decrypted_password }}</p>
        <a href="{{ url_for('index') }}" class="back-link">Back to Homepage</a>
    </div>
</body>
</html>
